@charset "UTF-8";
/* CSS Document */

html {
    background: #000;
    font-family: raleway, montserrat, Helvetica, Arial, "sans-serif";
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    min-width: 320px;
    min-height: 568px;
	color: #e5e5e5;
}

body{
	display: flex;
	flex-flow: column wrap;
}

header{
    height: 80px;
    background: #000000;
	justify-content: flex-end;
}

a{
	color: #e5e5e5;
}

a:hover{
	color: #a66ddb;
	font-weight: bolder;
}

h2{
	color: #a66ddb;
}

h3{
	color: #e5e5e5;	
}

h1{
    color: #a66ddb;
    font-size: 68px;
    font-weight: bold;
    margin-left: 30px;
	margin-top: 10px;
	padding-top: 15px;
}

ul{
	list-style-type: none;
}

.nav-main{
    background: #000;
    height: 60px;
    padding-top: 15px;
    font-stretch: semi-expanded;
    font-size: 12pt;
    font-style: oblique;
    text-align: right;
}

.nav-main li{
	display: inline;
}

.nav-main a{
    margin-right: 1rem;
}

.welcome{
    background-color: #000;
    width: auto;
	min-height: 120px;
    background-image: url(decorative-arrow-purple.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 44% auto;
	flex-basis: 100%;
}

#subheading{
	min-height: 80px;
	text-indent: 300px;
	font-size: 18pt;
	font-style: normal;
	padding-left: 30px;
	margin-top: -35px;
}

.intro{
	min-height: 100px;
	width: inherit;
	padding-left: 30px;
	color: #E5E5E5;
	background: #000;
	padding-bottom: 20px;
	flex-basis: 100%;
}

.workexp{
    min-height: 100px;
    width: auto;
    padding-left: 30px;
    background: #000;
    color: #e5e5e5;
	flex-basis: 100%;
}

.table-cv{
	height: 420px;
	width: inherit;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 55px;
	background: #000;
	color: #e5e5e5;
	display: flex;
	flex-flow: column wrap;
}

.table-li{
	color: #E5E5E5;
	width: 400px;
	float: left;
	width: 28%;
	padding: 10px;
	flex-basis: 30%;
	order: 1;
}

.table-re{
	color: #e5e5e5;
	width: 400px;
	float: left;
	width: 69%;
	padding: 10px;
	flex-basis: 65%;
	order: 2;
}

#RNR-li{
	height: 130px;
	padding-top: 15px;
	padding-bottom: 10px;
}

#SP-li{
	height: 80px;
	padding-top: 15px;
	padding-bottom: 10px;
	
}

#HD-li{
	height: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#SB-li{
	height: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.td-re{
	padding-bottom: 10px;
	padding-top: 10px;
}

.selectwork{
	min-height: auto;
	width: inherit;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 10px;
	background: #000;
	color: #e5e5e5;
	flex-basis: 100%;
}

.bilder{
	width: auto;
	padding-top: 10px;
	padding-left: 30px;
	background: #000;
	padding-right: 10px;
	padding-bottom: 40px;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

.picture{
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.kontaktteil{
	min-height: 150px;
	width: inherit;
	padding-top: 10px;
	padding-left: 30px;
	text-align: center;
	background: #000;
	color: #e2e2e2;
	flex-basis: 100%;
}

.contactform{
	text-align: center;
}

footer{
	background-color: #000;
	height: auto;
	font-size: 12pt;
	display: flex;
	flex-flow: wrap;
}

.nav-footer{
	min-height: 100px;
	margin-top: 5px;
	line-height: 2rem;
	align-self: flex-start;
	flex-basis: 50%;
	order: 1;
}

.socialmedia-handles{
	min-height: 150px;
	width: auto;
	text-align: right;
	align-self: flex-end;
	order: 2;
	flex-basis: 50%;
}

.sm-icons{
    height: 30px;
    width: auto;
    padding-right: 15px;
    padding-top: 35px;
    filter: grayscale(100%);
    float: right;
}

.sm-icons:hover{
    filter: grayscale(0%);
}

.copyright{
	max-height: 10px;
    font-size: 8pt;
	font-style: italic;
    color: #3B3B3B;
    text-align: center;
	order: 3;
	flex-basis: 100%;
}

.imprint{
	background: #000;
	min-height: 200px;
	width: inherit;
	padding-left: 30px;
	padding-bottom: 40px;
	color: #E2E2E2;
}

div.impressum-titel > H3{
	font-size: 18pt;
}

.content-table{
	margin-top: 75px;
}

div.content-table a{
	text-decoration: none;
}

div.content-table > ul{
	list-style-type: square;
}

div.content-table li{
	margin-bottom: 0.5rem;
}

.privacy-content{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
}

div#data-retention > ul{
	list-style-type: square;
}

div#cookies > ul{
	list-style-type: circle;
}

div#gdpr-rights > ul{
	list-style-type: square;
}

div#ga-policy > ul{
	list-style-type: circle;
}

#sourceeee{
	font-size: 10pt;
	color: gray;
}
